<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dang Ky Khoa Hoc</title>
    
    <style>

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  
}
table.blueTable td, table.blueTable th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable td {
  font-size: 23px;
  border: 2px solid white;
  border-radius: 10px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: lightblue;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 28px;
  /*font-weight: bold;*/
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
  border-radius: 10px;
  text-align: center;
}
table.blueTable thead th:first-child {
  border-left: none;
}
table.blueTable input{
    font-size: 25px;
    color:white;
    background-color: yellowgreen;
}
table.blueTable  thead td {
  font-size: 5px;
  
}
table.blueTable  .links {
  text-align: right;
}
table.blueTable  .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
#fixNav{
  width: 100%;
  height: 50px;
  background-color: rgba(232, 211, 227, 0.6);
  display: block;
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
}
#fixNav ul{
  margin: 0 ;
  padding: 0;
  margin-left: 30px
}
#fixNav ul li{
  list-style:none inside;
  width: auto;
  float: left;
  line-height: 60px; /*Cho text canh giữa menu*/
  color: #fff;
  padding: 0;
  margin-right:10px;
  position: relative;
  margin-left:30px;
}
#fixNav ul li a{
  text-transform: uppercase;
  white-space: nowrap; /*Cho chữ trong menu không bị wrap*/
  padding: 0 10px;
  color:black;
  display: block;
  font-size:0.9em;
  text-decoration: none;
  font-weight: bold;
}
#fixNav ul li:hover {
  background-color:rgba(255, 255, 255, 0.8);
}
#fixNav ul li:hover ul{
  /*Display ra submenu*/
  display: block;
}
#fixNav .fixdn {
  float: right;
  margin-right: 50px;
}
#logo{
text-align: center;
height:50px;
width: 50px;
margin-left: 600px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);	
}
    </style>
</head>
<body class="container" style="margin-top: 50px;">
    <div class="slideshow-container">
        <nav id="fixNav">
            <ul>
            <a href='javascript: history.go(-1)' style="text-decoration: none;font-size: 30px;">Back</a>
             <a href="/trangchu"><img id="logo" src="Image/logo1.JPG"></a> 
            </ul>
        </nav>
    </div> 
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100" style="list-style-type: none">
                <li class="nav-pill active">
                    <a class="nav-link" style="list-style-type: none;font-size: 50px; display:block;">Khoa Hoc</a>
                </li>
    
            </ul>
        </div>
    <div class="card-body" >

        <% if(data.length) { %>
        <table class="blueTable"style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Bài Học</th>
                    <th scope="col">Miêu Tả</th>
                    <th scope="col">Ngày BĐ</th>
                    <th scope="col">Ngày KT</th>
                    <th scope="col">Buổi Học</th>
                    <th scope="col">Kĩ Năng</th>
                    <th scope="col">Độ Tuổi</th>
                    <th scope="col">Học Phí</th> 
                    <th scope="col">ID GV</th>   
                    <th scope="col">Tên GV</th>   
                    <th width="100px"></th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <form class="form" action="regi/<%=data[i].id %>"   method='POST' onclick="loadDoc()">
                <tr>
                    <td name="id" id="id"><%= data[i].id %></td>
                    <td><%= data[i].baihoc%></td>
                    <td><%= data[i].mieuta%></td>
                    <td><%= data[i].NgayBatDau%></td>
                    <td><%= data[i].NgayKetThuc%></td>
                    <td name="ngayhoc" id="ngayhoc"><%= data[i].ngayhoc_id%></td>
                    <td name="kinang" id="kinang"><%= data[i].kinang_id%></td>
                    <td name="dotuoi" id="dotuoi"><%= data[i].dotuoi_id%></td>
                    <td><%= data[i].HocPhi%></td>
                    <td><%= data[i].giaovien_id%></td>
                    <td><%= data[i].tengv%></td>
                    <td>
                    <a> <input class="input" type="submit" value="Dang Ky"></a>
                    </td>
                </tr>
                </form> 
            <% } %>   
            </tbody>
        </table>
        <% } %>

        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No Class found!</p>
        <% } %>

        </div>
    </div>

</body>
<script>
 
</script>
</html>